asgiref==3.12.1
charset-normalizer==3.4.9
Django==6.0.7
django-cors-headers==4.9.0
django-environ==0.14.0
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
et_xmlfile==2.0.0
mssql-django==1.7.4
openpyxl==3.1.5
pillow==12.3.0
PyJWT==2.13.0
pyodbc==5.3.0
pytz==2026.3.post1
reportlab==5.0.0
sqlparse==0.5.5
tzdata==2026.3
waitress==3.0.2
